@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1521967906867-14ec9d64bee8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63f399f203a46024cdee72cd6aa42163&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


body {
  padding-bottom: 20px;
  text-align: center;
}

img {
  border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;

}

a {
  color: #5189b8;
}

h1 {
  color: #05759e;
  margin-top: 20px;
}

.well {
  padding: 50px;
}

.display-info {
  color: white;
  font-size: 48px;
  margin-left: 40px;
  margin-top: 20px;
}
.col-md-8 {
  padding-left: 41px;
}

#poster {
  padding: 3%;
}
